*{
	background-color: rgb(204, 204, 204)	;
}
.heading{
	text-align:center;
}
	.heading1{
	text-align:center;
	background-color:white;
}
p{
	background-color:white;
}
.Upper{
	background-color:white;
	border:1px solid black;
	border-radius:10px;
	width:90vw;
	heigth:100px;
	margin-inline:20px;
}
.Lower{
	background-color:white;
	border:1px solid black;
	border-radius:10px;
	width:80vw;
	height:100px;
	margin-inline:45px;
}
.player_two{
background-color:white;
	width:90%;
	margin-inline:5%;
}
.player_one{
	width:70vw;
	height:auto;
	margin-inline:5vw;
	margin-top:5vw;
	background-color:rgb(255, 255, 255)
}
p{
	margin-left:20px;
}
a{
text-decoration-line: none;	
}
li{
	list-style-type: none;
}